<div class="card">

  <div class="header">
    <h2 class="title">Flight Search</h2>
  </div>
  <div class="content">

    <app-flight-filter [filter]="currentFilter" (searchTrigger)="search($event)">

      <button *ngIf="flights.length > 0" class="btn btn-default"
        (click)="delay()">
        Delay 1st Flight
      </button>

      <div *ngIf="flights.length > 0">
        {{flights.length}} flights found!
      </div>

    </app-flight-filter>


  </div>
</div>

<div class="row">
  <div *ngFor="let f of flights">

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <flight-card
        [item]="f"
        [(selected)]="basket[f.id]">
      </flight-card>
    </div>
  </div>
</div>

<div class="card">
  <div class="content">
    <pre>{{ basket | json }}</pre>
  </div>
</div>

<!-- Wrapper -->
<my-custom-input></my-custom-input>
<my-custom-input></my-custom-input>
<my-custom-input [config]="myParsingFormat"></my-custom-input>
<my-custom-input></my-custom-input>

<!-- Directive -->
<mat-form-field>
  <input [myCustomParsingDir]="myParsingFormat">
</mat-form-field>
